<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>flomo.png</string>
			<key>Requirements</key>
			<array>
				<string>copy</string>
			</array>
			<key>Title</key>
			<string>flomo</string>
			<key>Shell Script File</key>
			<string>flomo.sh</string>
		</dict>
	</array>

	<key>Options</key>
	<array>
		<dict>
			<key>Option Description</key>
			<string>您可以在网页菜单里找到 API 的地址</string>
			<key>Option Label</key>
			<string>API</string>
			<key>Option Identifier</key>
			<string>api</string>
			<key>Option Type</key>
			<string>string</string>
		</dict>
	</array>

	<key>Extension Identifier</key>
	<string>dev.royli.popclip-extension-flomo</string>
	<key>Extension Description</key>
	<dict>
		<key>zh</key>
		<string>将选中文字加入 flomo。</string>
		<key>en</key>
		<string>Add the selected text to your flomo.</string>
	</dict>
	<key>Extension Name</key>
	<string>flomo</string>
</dict>
</plist>
